<div class="footer">
  
  <div class="security">
    <a routerLink="/imprint">Imprint</a>
   -
    <a routerLink="/legal-notice">Legal Notice</a>
  </div>
  
  <div class="logos">
    <a target="_blank" href="https://www.linkedin.com/in/daniela-fehlmann-776862268/"><img src="assets/img/logo0.svg"></a>
    <a target="_blank" href="https://github.com/DanielaFehlmann"><img src="assets/img/logo1.svg"></a>
    <a target="_blank" href="https://www.xing.com/profile/Daniela_Fehlmann034098/cv"><img src="assets/img/logo2.svg"></a>
  </div>

</div>