<div class="aboutMe" id="aboutMe">

  <div class="introduction">
    <img src="assets/img/portrait3.JPG">
    <div class="right">
      <h2>About me.</h2>
      <span>"I'm a frontend developer, who loves to work precisely and with joy"</span>
    </div>
  </div>

  <img src="assets/img/line.png" class="line">

  <div class="journeys">
    <div *ngFor="let paragraph of headings; let i = index" class="journey" data-aos="fade-right">
      <img src="assets/img/circle{{i}}.png">
      <h3>{{headings[i]}}</h3>
      <span>{{text[i]}}</span>
    </div>
  </div>

</div>
