<div class="aboveTheFold">
  
  <div class="introduction" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="700">

    <div class="introductionLeft">
      <span class="introductionLeftText">Hi,<br> I'm <span class="pink">Daniela</span> Fehlmann <br> Frontend develop<span class="turquoise">e</span>r</span>
      <a href="#contactMe"><button>Contact me</button></a>
    </div>

    <img src="assets/img/portrait1.png" class="imagePortrait">
    
  </div>

  <a href="#mySkills"><img src="assets/img/arrow.png" class="arrow"></a>

</div>