<div class="myWork" id="myWork">

  <h2>My work</h2>
  
  <div class="buttons">
    <button (click)="button = 0" [class.clickedOn]="button == 0">All</button>
    <button (click)="button = 1" [class.clickedOn]="button == 1">Angular</button>
    <button (click)="button = 2" [class.clickedOn]="button == 2">Javascript</button>
  </div>

  <div class="works">

    <div *ngFor="let work of works; let i = index" class="container" [class.d-none] = "(button == 1 && works[i]['type'] == 'js') || (button == 2 && works[i]['type'] == 'ang')" data-aos="flip-right">

      <img src="assets/img/{{i}}.png" class="imageWork">

      <div class="moreInfo">
        <h4>{{works[i]['heading']}}</h4>
        <span>{{works[i]['subtitle']}}</span>
        <div>
          <a [href]="works[i]['link']" target="_blank">Try out</a>
          <a [href]="works[i]['github']" target="_blank">Github</a>
        </div>
      </div>

    </div>
    
  </div>

</div>